# Build
build/
dist/
# for testing purpose, do not commit .bak folders. This was used when migrating from webpack 4 to webpack 5
*.bak/

# System Files
*.orig
.DS_Store
Thumbs.db

# Yarn
**/.yarn/*
!**/.yarn/cache
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
yarn-error.log
# Only workspace root lock files should exist
*/**/yarn.lock
# Github apps cloud functions have their own lock
!github-apps/**/yarn.lock
# Allow test fixtures lock files for upgradr
!tools/upgradr/**/yarn.lock



node_modules/

package-lock.json
!e2e/yarn.lock
.idea/*
!.idea/runConfigurations/
!.idea/watcherTasks.xml

**/*.js.map

# Typescript build cache
tsconfig.tsbuildinfo


